# Expo
.expo/

# Dependencies
node_modules/

# Build outputs
dist/
build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Local env
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
